@font-face {
    font-family: dm-sans;
    src: url(../assets/fonts/DMSans-VariableFont.ttf);
    font-weight: 1000;
}

@font-face {
    font-family: righteous;
    src: url(../assets/fonts/Righteous-Regular.ttf);
}

@font-face {
    font-family: exo;
    src: url(../assets/fonts/Exo2-ExtraBold.ttf);
}

@font-face {
    font-family: roboto-cond;
    src: url(../assets/fonts/RobotoCondensed-ExtraBold.ttf);
}