@use "./media-queries";
@use "./fonts";
@import "./variables";


header {
  position: fixed;
  width: 100vw;
  padding-top: 2rem;
  gap: 8rem;
  padding-inline: 0.5rem;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  border-bottom: 2px solid #4D4D4D;
  background: #141414;
  margin-top: -4rem;
  z-index: 300;

  .logo {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    gap: 0.3rem;
    position: relative;
    bottom: 0.7rem;
    left: 0.5rem;

    h3 {
      color: #fff;
      font:  1.5em dm-sans;
      position: relative;
      top: 0.8rem;
      right: 0.8rem;
    }

    .response-img {
      width: 4rem;
      height: 4rem;
      position: relative;
      right: 0.7rem;
      bottom: 0.2rem;
      margin-left: 0.5rem;
    }
  }


  nav {
    .cont {
      // display: none;
      .top-button {
        position: absolute;
        visibility: hidden;
      }

      #applications {
        border-radius: 0.5rem ;
        padding-bottom: 0.8rem;
        padding-top: 0.3rem;
        padding-inline: 0.8rem;
        background: $lighterPurple;
        transition: 0.3s;

        &:hover {
          background: $lightPurpleDark;
          transition: 0.3s;
          box-shadow: 1px 16px 25px -7px rgba(0,0,0,0.33);
        }
        
        h3 {
          font-weight: bold;
          color: #fff;
          text-decoration: none; 
        }
      }
      button{
        border: none;
        background: none;
        margin: 0 1.7rem;
        // border-bottom: 1px solid #E7E7E7;
        cursor: pointer;

        .bar-img {
          width: 1.2rem;
          position: absolute;
          visibility: hidden;

        }

        h3 {
          font: calc(1.2em + 0.01rem) sans-serif;
          color: #fff;
          margin-top: 0.5rem;
          transition: 0.3s;
          &:hover {
            text-decoration: underline;
          }
        }

        p {
          visibility: hidden;
          position: absolute;
        }
      }
    }
  }
}

 