@use "./media-queries";
@use "./fonts";
@use "./animations";
@import "./variables";

.page-2{
    max-height: 150rem;
    background-image: url(../assets/images/connect.svg);
    overflow: hidden;
    padding-bottom: 8rem;
    border-bottom: 4px solid $tingePurple;
    border-bottom-left-radius: 5rem;

       
    .slideshow {
         display: flex;
         flex-flow: row;
         position: relative;
        //  justify-content: space-around;
        //  border: 1px solid #000;
        gap: 3rem;
        //  min-width: 100rem;
        //  margin-top: -7rem;
        min-height: 7rem;
         overflow: hidden;
         padding-left: 10rem;
         padding-right: 10rem;
         
         padding-bottom: 1.5rem;
         background: #141414;
        //  border: 1px solid #000;
   
       .sldtxt {
        text-align: center;
        color: #fff;
        font: bold 1em sans-serif;
        animation: carouselOne 30s linear infinite;
        position: relative;
        right: 55rem;
        top: 2.5rem;
        
        &:before {
            content:'✔';
            color: $magenta;
            margin-right: 0.3rem;
        }
        
       }

       .t1 {
          min-width: 10rem;
       }

       .t2 {
        min-width: 12.3rem;
     }

     .t3 {
        min-width: 15rem;
     }
     
     .t4 {
        min-width: 14rem;
     }

     .t5 {
        min-width: 10rem;
     }

     .t6 {
        min-width: 9rem;
     }
       }
       
       .square-container {
         margin-top: 9.4rem;
         display: flex;
         flex-flow: column;
         align-items: center;
         gap: 15rem;

         .square-1 {
            position: relative;
            right: 11rem;
              &:hover {
                  transform: rotateX(20deg) rotateY(-10deg);
               }     
            .squarebox-1 {
               display: flex;
               flex-flow: column;
               gap: 0.8rem;


               
           h1 {
             font: bold 3em sans-serif;
             color: $tingePurple;
             
           }

           h3 {
            font: 1.5em sans-serif;
            color: $tingePurple2;
            
           }

           p {
            font: 1em sans-serif;
            color: #fff;
            max-width: 35rem;
            text-align: center;
           }
            }
          


         }

         .square-2 {
            position: relative;
            left: 11rem;
            &:hover {
               transform: rotateX(20deg) rotateY(10deg);
            }   
            .squarebox-2 {
               display: flex;
               flex-flow: column;
               gap: 0.8rem;
               
           h1 {
             font: bold 3em sans-serif;
             color: $tingePurple;
             
           }

           h3 {
            font: 1.5em sans-serif;
            color: $tingePurple2;
            
           }

           p {
            font: 1em sans-serif;
            color: #fff;
            max-width: 35rem;
            text-align: center;
           }
            }
            


         }

         .square-3 {
            position: relative;
            right: 11rem;
            &:hover {
               transform: rotateX(20deg) rotateY(-10deg);
            }   
            .squarebox-3 {
               display: flex;
               flex-flow: column;
               gap: 0.8rem;
               
           h1 {
             font: bold 3em sans-serif;
             color: $tingePurple;
             
           }

           h3 {
            font: 1.5em sans-serif;
            color: $tingePurple2;
            
           }

           p {
            font: 1em sans-serif;
            color: #fff;
            max-width: 35rem;
            text-align: center;
           }
            }

         }

         #ai-img {
            width: 15rem;
            position: relative;
            right: 1.5rem;
            bottom: 2rem;
         }

         #sq {
            perspective: 1000px;
            max-width: 80rem;
            display: flex;
            flex-flow: row;
            border: 1px solid #0E0E0E;
            padding: 2.5rem;
            background: #000;
            transition: 0.3s;
             &:hover {
               transition: transform 0.3s;
             }
         }

       }

         }


