@use "./media-queries";
@use "./fonts";
@use "./animations";
@import "./variables";

.page-2{
    height: 60rem;
    background: radial-gradient(#EBEBEB, #fff);
    overflow: hidden;
       
    .slideshow {
         display: flex;
         flex-flow: row;
         position: relative;
        //  justify-content: space-around;
        //  border: 1px solid #000;
        gap: 3rem;
        //  min-width: 100rem;
        //  margin-top: -7rem;
        min-height: 7rem;
         overflow: hidden;
         padding-left: 10rem;
         padding-right: 10rem;
         
         padding-bottom: 1.5rem;
         background: #fff;
        //  border: 1px solid #000;
   
       .sldtxt {
        text-align: center;
        font: bold 1em sans-serif;
        // min-width: 15rem;
        animation: carouselOne 30s linear infinite;
        position: relative;
        right: 55rem;
        top: 2.5rem;
        // border: 1px solid #000;
        // width: 20rem;
        
        &:before {
            content:'✔';
            color: $magenta;
            margin-right: 0.3rem;
        }
        
       }

       .t1 {
          min-width: 10rem;
       }

       .t2 {
        min-width: 12.3rem;
     }

     .t3 {
        min-width: 15rem;
     }
     
     .t4 {
        min-width: 14rem;
     }

     .t5 {
        min-width: 10rem;
     }

     .t6 {
        min-width: 9rem;
     }
       }

       .text-box {
        
       }

         }


