// imports
@use "./header";
@use "./homepage";
@use "./page-1";
@use "./page-2";
// @use "./page-2";


// Global Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(#EBEBEB, #fff) ;
}

  